<div class="record-info">

    <div class="component ">
        <div class="listContent">
            <nz-table #nzTable [nzDataSource]="_dataSet" [nzPageSize]="10" [nzTotal]="50" [nzShowSizeChanger]="true" [nzCustomNoResult]="true" [nzShowTotal]="true"  [nzBordered]="true" (nzPageIndexChange)="PageIndexChange($event)" (nzPageSizeChange)="nzPageSizeChange($event)">
                <span noResult>没有数据啦，哈哈哈哈！！！</span>
                <thead nz-thead>
                    <tr>
                        <th nz-th><span>姓名</span></th>
                        <th nz-th><span>手机号</span></th>
                        <th nz-th><span>部门</span></th>
                        <th nz-th><span>职位</span></th>
                        <th nz-th><span>登录时间</span></th>
                        <th nz-th><span>登录省份</span></th>
                        <th nz-th><span>登录城市</span></th>
                       
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                        <td nz-td>{{data.name}}</td>
                        <td nz-td>{{data.age}}</td>
                        <td nz-td>{{data.address}}</td>
                        <td nz-td>{{data.number}}</td>
                        <td nz-td>{{data.colorName}}</td>
                        <td nz-td>{{data.name}}</td>
                        <td nz-td>{{data.age}}</td>
                  
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>


</div>