<div class="btnMode" id="slider">
  <a href="javascript:void(0);" class="prev btn"></a>
  <div class="scroll">
    <ul class="scrollContainer">
      <!-- <li class="panel" id="panel_1" *ngFor="let item of pictureList"> -->
      <li class="panel-logo" id="panel_1">
        <a href="#" class="inside">
          <img width="230" height="248" alt="路飞索隆索隆索隆索隆索隆索隆索隆索隆索隆" src="./../../../../assets/images/dududu.jpg" />

        </a>
      </li>
      <li class="panel-logo" id="panel_2">
        <a href="#" class="inside">
          <img width="230" height="248" alt="索隆" src="./../../../../assets/images/penk.jpg" />
        </a>

      </li>
      <li class="panel-logo" id="panel_3">
        <a href="#" class="inside">
          <img width="230" height="248" alt="娜美" src="./../../../../assets/images/465.jpg" />
        </a>
      </li>
      <li class="panel-logo current" id="panel_4">
        <a href="#" class="inside">
          <img width="230" height="248" alt="乌索普" src="./../../../../assets/images/sey.jpg" />
        </a>
      </li>
      <li class="panel-logo" id="panel_5">
        <a href="#" class="inside">
          <img width="230" height="248" alt="乔巴" src="./../../../../assets/images/oab.jpg" />
        </a>
      </li>
      <li class="panel-logo" id="panel_6">
        <a href="#" class="inside">
          <img width="230" height="248" alt="山治" src="./../../../../assets/images/wo.jpg" />
        </a>
      </li>
      <li class="panel-logo" id="panel_7">
        <a href="#" class="inside">
          <img width="230" height="248" alt="不选择企业" src="./../../../../assets/images/ala.jpg" />
        </a>
      </li>
      <!-- <li class="panel-logo" id="panel_8">
        <a href="#" class="inside">
        </a>
      </li> -->
    </ul>
  </div>
  <a href="javascript:void(0);" class="next btn"></a>
  <span class="select-img">{{content}}</span>
</div>