.password-info {
  width: 50%;
  position: relative;
  left: 30%;
  top: 130px;
  .btn {
    border-radius: 0;
  }
  .ant-form-item {
    margin-bottom: 15px;
  }
  .editContent {
    border-radius: 10px;
    .edit {
      padding: 0 210px;
      .spanIcon {
        display: block;
        border: 1px solid #e5e5e5;
        border-radius: 85px;
        padding: 0px 0px;
        background: pink;
        position: relative;
        width: 130px;
        height: 130px;
        text-align: center;
        .passwordIcon {
          font-size: 65px;
          padding: 32px 30px;
          text-align: center;
        }
      }
    }
    .writeBtn {
      padding: 49px 240px;
    }
  }
}
