<div class="password-info">
    <div *ngIf="editStatus" class="editContent">
        <div class="edit">
            <span class="spanIcon">
              <i class="passwordIcon anticon anticon-search ant-input-search-icon icon-btn-search"></i>
           </span>
        </div>
        <div class="writeBtn">
            <button class="btn btn-info" (click)="edit()">修改密码</button>
        </div>

    </div>
    <div *ngIf="writeStatus">
        <div>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="4">
                        <label nz-form-item-required>原密码</label>
                    </div>
                    <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('password')">
                        <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'请填写密码'" [nzSize]="'large'">
                        </nz-input>
                    </div>
                    <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">密码不能为空</div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="4" nz-form-label>
                        <label nz-form-item-required>新密码</label>
                    </div>
                    <div>
                        <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('newpassword')">
                            <nz-input formControlName="newpassword" [nzPlaceHolder]="'请设置登录密码'" [nzType]="'newpassword'" [nzSize]="'large'" (ngModelChange)="validateConfirmPassword()">
                            </nz-input>
                            <div>字母数字和符号两种及以上的组合,6-20字符</div>
                        </div>

                        <div nz-form-explain *ngIf="getFormControl('newpassword').dirty&&getFormControl('newpassword').hasError('required')">密码不能为空</div>
                        <div nz-form-explain *ngIf="getFormControl('newpassword').dirty&&getFormControl('newpassword').hasError('newpassword')">密码格式错误</div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-col [nzSpan]="4" nz-form-label>
                        <label nz-form-item-required>确认密码</label>
                    </div>
                    <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('passwordConfirmation')">
                        <nz-input formControlName="passwordConfirmation" [nzType]="'password'" [nzPlaceHolder]="'请再次输入密码'" [nzSize]="'large'">
                        </nz-input>

                    </div>
                    <div nz-form-explain *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('required')">确认密码不能为空</div>
                    <div nz-form-explain *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('confirm')">
                        两次输入密码不一致,请重新输入</div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-col [nzOffset]="5" [nzSpan]="12" nz-form-control>
                        <button class="btn btn-info" nz-button [nzType]="'submit'" [nzSize]="'large'" [disabled]="!validateForm.valid">保存</button>
                        <button class="btn btn-cancel" nz-button [nzSize]="'large'" (click)="resetForm($event)">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



</div>