<div class="cardRight fr">
  <div class="application">
    <div class="title">
      推荐产品
    </div>
    <div class="substance">
      <div class="clickBox col-lg-12 col-md-12 col-sm-12 col-xs-12" (click)="clickBox($event)">
        <div class="enterpriseName col-lg-7 col-md-7 col-sm-7 col-xs-7" >
          <span>阴保管家</span>
        </div>
        <div class="application col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <button class="btn btn-message" (click)="application($event)">申请使用</button>
        </div>
      </div>
    </div>
  </div>
</div>
